* {
  margin: 0; /*Margins are used to create space around elements, outside of any defined borders.*/
  padding: 0; /*Padding is used to create space around an element's content, inside of any defined borders.*/
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize; /*It can be used to turn everything into uppercase or lowercase letters, or capitalize the first letter of each word:*/
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed; /*An element with position: fixed; is positioned relative to the viewport, which means it always stays in the same place even if the page is scrolled. The top, right, bottom, and left properties are used to position the element.*/
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 7%;
  display: flex;
  align-items: center; /*Use the align-items property to align the items vertically.*/
  justify-content: space-between; /*The justify-content property aligns the flexible container's items when the items do not use all available space on the main-axis (horizontally).*/
  z-index: 1000;
}

header .logo {
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #333;
  display: block;
}

header .navbar ul li a:hover {
  background: #333;
  color: #fff;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: #eee;
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}
